:root {
  --main-color: #0077b5;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header bar styles */
.header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.header-bar img {
  width: 60%;
}

/* Common link styles */
.common-links-style {
  list-style-type: none;
  display: flex;
  font-size: small;
}

.common-links-style li {
  padding: 0px 10px;
}

.common-links-style li:not(:last-child) {
  border-right: 1px solid rgb(138, 136, 136);
}

a {
  text-decoration: none;
  color: #0072a3;
}

/* Blue line style */
.header-main-divider {
  background-color: var(--main-color);
  height: 3px;
}

/* Main container styles */
.container {
  background-color: lightgray;
  padding: 20px;
}

.content {
  border: 1px solid lightgrey;
  padding: 20px;
  background-color: white;
}

.content-top {
  display: flex;
  gap: 100px;
}

.content-top h3 {
  color: var(--main-color);
  line-height: 1.5;
  margin-bottom: 1rem;
}

.content-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

.content-divider {
  margin-top: 40px;
}

/* About section styles */
.about {
  width: 50%;
}

.about-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.about img {
  height: 50px;
  width: 70px;
}

/* Sign-up section styles */
.sign-up h4 {
  background-color: var(--main-color);
  color: white;
  margin-bottom: 0px;
  padding: 5px 10px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* Form container styles */
.form-container {
  display: grid;
  grid-template-columns: repeat(2, auto);
  border: 1px solid lightgray;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 1rem;
  gap: 1rem;
  height: fit-content;
}

.form-container label {
  font-weight: bold;
}

.form-container button {
  background-color: rgb(98, 198, 98);
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px 15px;
}

button {
  width: fit-content;
  padding: 2px 8px;
}

.form-container p {
  font-size: smaller;
}

/* Search container styles */
.search-container h4 {
  display: inline;
  margin-right: 20px;
  color: rgb(88, 87, 87);
}

.search-container input {
  margin-right: 15px;
}

/* Directory container styles */
.directory-container {
  display: flex;
  align-items: center;
}

.directory-container h4 {
  color: gray;
  margin-right: 20px;
}

.directory-container .common-links-style li {
  border: none;
  padding: 3px;
  font-size: smaller;
}

/* Main links divider */
.main-links-divider {
  height: 3px;
  background-color: lightgrey;
}

/* Links container styles */
.links-container {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 20px;
  row-gap: 10px;
  column-gap: 30px;
  color: gray;
}

/* Footer styles */
footer {
  padding-left: 10px;
  padding-bottom: 20px;
}

footer p {
  padding-left: 10px;
  margin-top: 5px;
  font-size: small;
}
