<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
     <% if(postsInfo.length > 0){ %>

        <% postsInfo.forEach((post) => { %>
            <p class="text"><%= post.name %> -
            <%= post.createdAt %></p>
            <p class = "text"><%= post.message %></p>
       <% }) %>
    <% } else { %>
        <h3>No posts found</h3>
   <% } %>
      
    
</body>
</html>
